
<html>
    <head>
        <link rel="stylesheet" href="/views/addclass/addclass.css">
    </head>
    <body>
        <div class="bodyWrapper">
        <div class="leftBody">
            
                <a href="/admin">
            <div class="adminshow">
                <div class="avatar">
                </div>
                <div>
                    Admin page
                </div>
            </div>
        </a>
            
            <hr></hr>
            <div class="function">
                <a href="/admin/classadmin">
                    Classes
                </a>
            </div>
            <div class="function">
                <a href="/admin/teacher">
                Teacher
                </a>
            </div> 
            <div class="function">
                <a href="/admin/student">
                Student
                </a>
            </div>
            <div class="function">
                <a href="/admin/parent">
                Parent
                </a>
            </div>
        </div>
        <div class="rightBody">
            <form class="addform" action="/admin/teacher/create" method="post" >
                <div>
                <label>Teacher ID</label>
                <input name="teacher_id" type="text"></input>
            </div>
            <div>
                <label>Name</label>
                <input name="name" type="text"></input>
            </div>
            <div>
                <label>Gender</label>
                <input name="gender"></input>
            </div>
            <div>
                <label>Phone number</label>
                <input name="phone_number"></input>
            </div>
            <div>
                <label>Email</label>
                <input name="email"></input>
            </div>
            <div>
                <label>Account</label>
                <input name="account"></input>
            </div>
            <div>
                <label>Password</label>
                <input name="password"></input>
            </div>
            <input type="submit"></input>
            </form>
        </div>
        
    </body>

</html>