
<html>
    <head>
        <link rel="stylesheet" href="/views/adminpage/adminpage.css">
    </head>
    <body>
        <div class="bodyWrapper">
        <div class="leftBody">
            <a href="/admin">
            <div class="adminshow">
                <div class="avatar">
                </div>
                <div>
                    Admin page
                </div>
            </div>
        </a>
            <hr></hr>
            <div class="function">
                <a href="/admin/classadmin">
                    Classes
                </a>
            </div>
            <div class="function">
                <a href="/admin/teacher">
                Teacher
                </a>
                
            </div>
            <div class="function">
                <a href="/admin/student">
                Student
                </a>
            </div>
            <div class="function">
                <a href="/admin/parent">
                Parent
                </a>
            </div>
        </div>

        <div class="rightBody">
            Right part
        </div>
        
        </div>
    </body>

</html>