
<html>
    <head>
        <link rel="stylesheet" href="/views/adminpage/adminpage.css">
    </head>
    <body>
        <div class="bodyWrapper">
        <div class="leftBody">
            <a href="/admin">
            <div class="adminshow">
                <div class="avatar">
                </div>
                <div>
                    Admin page
                </div>
            </div>
        </a>
            <hr></hr>
            <div class="function">
                <a href="/admin/classadmin">
                    Classes
                </a>
            </div>
            <div class="function">
                <a href="/admin/teacher">
                Teacher
                </a>
                
            </div>
            <div class="function">
                <a href="/admin/student">
                Student
                </a>
            </div>
            <div class="function">
                <a href="/admin/parent">
                Parent
                </a>
            </div>
        </div>

        <div class="rightBody">
            <div class="admin-seedschool-title">
                <h1>SeedSchool Kindergarten</h1>
            </div>
            <div class="admin-seedschool-image">
                <img src="../../access/images.png">
            </div>
            <div class="admin-seedschool-description">
                <h2>Make education more fun</h2>
                <h3>Established in 2022, our school never stop inheriting, renew to become a dream school for the kids...</h3>
            </div>
        </div>
        
        </div>
    </body>

</html>