
<html>
    <head>
        <link rel="stylesheet" href="/views/addclass/addclass.css">
    </head>
    <body>
        <div class="bodyWrapper">
        <div class="leftBody">
            
                <a href="/admin">
            <div class="adminshow">
                <div class="avatar">
                </div>
                <div>
                    Admin page
                </div>
            </div>
        </a>
            
            <hr></hr>
            <div class="function">
                
                <a href="/admin/classadmin">
                    Classes
                </a>
            </div>
            <div class="function">
                <a href="/admin/teacher">
                    Teacher
                </a>
            </div>
            <div class="function">
                <a href="/admin/student">
                Student
                </a>
            </div>
            <div class="function">
                <a href="/admin/parent">
                Parent
                </a>
            </div>
    </div>
        <div class="rightBody">
            <form class="addform" action="/admin/createClass" method="post" >
                <div>
                <label>Ten lop</label>
                <input name="name" type="text"></input>
            </div>
            <div>
                <label>Class ID</label>
                <input name="class_id" type="text"></input>
            </div>
            <div>
                <label>Teacher ID</label>
                <input name="teacher_id"></input>
            </div>
            <input type="submit"></input>
            </form>
        </div>
        </div>
    </body>

</html>